{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NailsTime</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <header>

    <nav class="navbar navbar-dark navbar-expand-lg py-4">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home_public' %}">NailsTime</a>
        {% if request.user.is_authenticated %}
        <span class="badge text-bg-primary">Hola {{ request.user }}</span>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

          <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
              <li class="nav-item {% if request.user.is_admin %}me-3{% endif %}">
                <a class="nav-link text-white fw-semibold" href="{% url 'edit_profile' %}">Actualizar datos</a>
              </li>
            {% endif %}

            {% if request.user.is_authenticated == False %}
            <li class="nav-item mx-4">
              <a class="btn btn-primary text-white fw-semibold" href="{% url 'login' %}">Iniciar sesión</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary text-white fw-semibold" href="{% url 'register' %}">Crear cuenta</a>
            </li>
            {% endif %}

            {% if request.user.is_admin %}
            <li class="nav-item">
              <a class="btn btn-primary text-white fw-semibold" href="{% url 'create_admin' %}">Crear Admin</a>
            </li>
            {% endif %}

            {% if request.user.is_authenticated %}
            <li class="nav-item ms-4">
              <a class="btn btn-danger" role="button" href="{% url 'logout' %}">Cerrar sesión</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="text-center mt-4">
    <p class="my-0 py-3 text-white ">© NailsTime todos los derechos reservados</p>
  </footer>


  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"
    defer></script>
</body>

</html>