{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1 class="pt-4 text-center">Actualiza</h1>
  <p class="text-center fs-4">Los datos de tu perfil</p>


  <div class="row pt-4 justify-content-center">
    <div class="col col-md-8 col-lg-6">
      <form method="post">
        {% csrf_token %}
        <div class="row mx-0">
          <div class="form-group mb-3 col-md-6">
            <label for="username" class="mb-1">Nombre</label>
            {{ form.first_name }}
          </div>
          <div class="form-group mb-3 col-md-6">
            <label for="username" class="mb-1">Apellido</label>
            {{ form.last_name }}
          </div>
          <div class="form-group mb-3 col-md-6">
            <label for="username" class="mb-1">Username</label>
            {{ form.username }}
          </div>
          <div class="form-group mb-4 col-md-6">
            <label for="email" class="mb-1">Correo</label>
            {{ form.email}}
          </div>


          <span class="text-error col-12">{{ form.errors }}</span>
          <div class="col-12">
            <input type="submit" value="Actualizar" class="btn btn-pill text-white btn-block btn-primary w-100">
          </div>
        </div>

      </form>
    </div>

  </div>

</div>

{% endblock %}